<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.
	本站由<a href="http://ghost.org" target="_blank" title="简单的博客系统">Ghost</a>强力驱动 | Powered by <a href="https://www.digitalocean.com/?refcode=3ffe1cd51c0d" target="_blank">DigitalOcean</a> |
	Theme based on <a href="https://github.com/onevcat/vno" target="_blank">Vno</a> by <a href="http://im.onevcat.com" target="_blank">@onevcat</a>
    </span>
    
</footer>

